.myname {
    color:black;
    display: flex;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
    font-size: x-large;
    position: absolute;
    align-items: center;
    padding: 1.5rem;
}
